.cart-product-items .cart-product-item .product-image > img{
    width: 100px; 
    height: 100%;
}

.cart-product-items .cart-product-item .product-image > img{
    height: 130px; 
}

.cart-product-items .cart-product-item .product-name{
    font-size: 1.5rem; 
    font-weight: bold;
}

.cart-product-items .cart-product-item .product-quantity-and-price{
    font-size: 1.1rem; 
}

.cart-product-items .cart-product-item{
    border: 1px solid #ccc; 
}

/* cart element add .cart*/

.mobile-content-footer{ 
    padding: 5px 10px;
}
.mobile-content-footer button{
    display: block;
    font-weight: bold;
    width: 100%;
    
}


.mobile-content-footer button:nth-child(2){
    background-color: var(--main-color-black);
    color: var(--main-color-white);
}

.mobile-content-footer button:hover{
    background-color: var(--main-color);
    color: var(--main-color-white);
}






